<h1>Logowanie</h1>
<form method="GET" action="/session/create" class="form-signin">
  <% if (flash && flash.err) { %>
    <ul class="alert">
      <% Object.keys(flash.err).forEach(function (error) { %>
        <li><%= error %>: <%- JSON.stringify(flash.err[error]) %></li>
      <%  }) %>
    </ul>
  <% } %>
  <label for="email">Email: </label>
  <input name="email" type="text" placeholder="Email" />
  <label for="password">Hasło: </label>
  <input name="password" type="password" placeholder="Hasło" />
  <input type="submit" value="Zaloguj się" />
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
