<h1>Logowanie</h1>
<div class="row col-md-4" style="margin: 0 auto;">
  <form method="GET" action="/session/create" class="form form-horizontal">
    <% if (flash && flash.err) { %>
      <ul class="alert">
        <% Object.keys(flash.err).forEach(function (error) { %>
          <li><%= error %>: <%- JSON.stringify(flash.err[error]) %></li>
        <%  }) %>
      </ul>
    <% } %>
    <div class="form-group">
      <label for="email">Email: </label>
      <input name="email" type="text" placeholder="Email" />
    </div>
    <div class="form-group">
      <label for="password">Hasło: </label>
      <input name="password" type="password" placeholder="Hasło" />
    </div>
    <input type="submit" value="Zaloguj się" />
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </form>
</div>
