<% if (flash && flash.content) { %>
  <div class="alert <%= flash.type %>">
    <p>
      <% if (_.isObject(flash.content)) { %>
        <% for (var i = 0; i < flash.content.length; i++) { %>
          <% Object.keys(flash.content[i]).forEach(function (key) { %>
            <% if (key === "name") { %>
              <strong><%= flash.content[i][key] %></strong>
            <% } else { %>
              <span><%= flash.content[i][key] %></span>
            <% } %>
          <% }) %>
        <% } %>
      <% } else { %>
        <%= flash.content %>
      <% } %>
    </p>
  </div>
<% } %>
